<?xml version='1.0' encoding='utf-8'?>
<plugin 
	id="cordova-hms-map-kit" 
	version="0.0.1" 
	xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>HMSMapKit</name>
	<js-module 
		name="HMSMapKit"
		src="www/HMSMapKit.js">
		<clobbers target="cordova.plugins.HMSMapKit" />
	</js-module>
	<platform name="android">
		<!-- hook for add maven repositories and agc plugin-->
    	<hook type="after_plugin_install" src="scripts/android/after_plugin_install.js" />
    	<hook type="before_plugin_uninstall" src="scripts/android/before_plugin_uninstall.js" />
    	<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    	<!-- Map Kit dependency-->
        <framework src="com.huawei.hms:maps:4.0.0.301" />
        <framework src="androidx.appcompat:appcompat:1.0.2" />
		<config-file 
			parent="/*" 
			target="res/xml/config.xml">
			<feature name="HMSMapKit">
				<param 
					name="android-package" 
					value="cordova.hms.map.kit.HMSMapKit" />
			</feature>
		</config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
		   	<uses-permission
		        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		        android:maxSdkVersion="22" />
		    <uses-permission
		        android:name="android.permission.READ_EXTERNAL_STORAGE"
		        android:maxSdkVersion="22" />
		    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
		    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		    <uses-permission android:name="android.permission.INTERNET" />
		    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	    </config-file>
	    <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:label="Map Activity" android:name="cordova.hms.map.kit.NewActivity"></activity>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/HMSMapKit.java" target-dir="src/cordova/hms/map/kit/" />
		<source-file src="src/android/NewActivity.java" target-dir="src/cordova/hms/map/kit/" />
        <source-file src="src/android/res/layout/activity_new.xml" target-dir="res/layout"/>
        <source-file src="src/android/res/drawable/ic_launcher_background.xml" target-dir="res/drawable"/>
        <source-file src="src/android/res/drawable/badge_ph.jpg" target-dir="res/drawable"/>
	</platform>
	<!-- Script help to copy agconnect-services.json to right places-->
    <hook type="after_prepare" src="scripts/after_prepare.js" />
</plugin>